/* --------------- */
/* Importing Fonts */
/* --------------- */
@font-face {
    font-family: Bellefair-Regular;
    src: url("/assets/fonts/Bellefair/Bellefair-Regular.ttf");
}

@font-face {
    font-family: BarlowCondensed-Regular;
    src: url("/assets/fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf");
}

@font-face {
    font-family: Barlow-Regular;
    src: url("/assets/fonts/Barlow/Barlow-Regular.ttf");
}

/* ------------- */
/* Root Settings */
/* ------------- */
:root {
    --clr-Dark-Blue: 11, 13, 23;
    --clr-Light-Blue: 208, 214, 249;
    --clr-White: 255, 255, 255;
    --fnt-15rem: 15rem;
    --fnt-10rem: 10rem;
    --fnt-56px: 5.6rem;
    --fnt-32px: 3.2rem;
    --fnt-28px: 2.8rem;
    --fnt-14px: 1.4rem;
    --fnt-16px: 1.6rem;
    --h5-character-spacing: 0.348vw;
    --sh2-character-spacing: 0.172vw;
    --Nav-character-spacing: 0.198vw;
    --h1-to-h4-and-sh1-font-family: "Bellefair-Regular";
    --h5-sh2-and-navtext-font-family: "BarlowCondensed-Regular";
    --paragraph: "Barlow-Regular";
}

/* ------ */
/* Resets */
/* ------ */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body,
#root,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

/* --------------------- */
/* Default page settings */
/* --------------------- */
#root {
    min-height: 100vh;
    min-width: 100%;
    line-height: 1.5;
}

nav img {
    position: relative;
    left: 1.7em;
    width: 2em;
}

/* Pictures and Images */
picture,
img {
    max-width: 100%;
    display: block;
}

/* Form Elements */
button {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* --------------- */
/* Utility Classes */
/* --------------- */

.p {
    font-family: var(--paragraph);
    font-size: clamp(var(--fnt-16px), 1.171vw, 70rem);
}

.flex {
    display: flex;
    gap: var(--gap, 4em);
}

.grid {
    display: grid;
    gap: var(--gap, 4em);
}

.h1-to-h4-and-sh1-fnt {
    font-family: var(--h1-to-h4-and-sh1-font-family);
}

.h5-sh2-nav-text-fnt {
    font-family: var(--h5-sh2-and-navtext-font-family);
}

.H1-size {
    font-size: var(--custom-size, var(--fnt-15rem));
}

.H2-size {
    font-size: var(--custom-size, var(--fnt-10rem));
}

.H3-size {
    font-size: var(--custom-size, var(--fnt-56px));
}

.H4-size {
    font-size: var(--custom-size, var(--fnt-32px));
}

.H5-size {
    font-size: var(--custom-size, var(--fnt-28px));
}

.SH1-size {
    font-size: var(--custom-size, var(--fnt-28px));
}

.SH2-size {
    font-size: var(--custom-size, var(--fnt-14px));
}

.nav {
    font-size: clamp(var(--fnt-16px), 1.5vw, 70rem);
    letter-spacing: var(--Nav-character-spacing);
}

.H5-letter-spacing {
    letter-spacing: var(--h5-character-spacing);
}

.SH2-letter-spacing {
    letter-spacing: var(--sh2-character-spacing);
}

.dark-blue {
    color: rgb(var(--clr-Dark-Blue));
}

.light-blue {
    color: rgb(var(--clr-Light-Blue));
}

.white {
    color: rgb(var(--clr-White));
}

/* ------------ */
/* Page Styling */
/* ------------ */
@media (width >=1024px) {
    #root {
        background-image: url("/assets/home/background-home-desktop.jpg");
        background-size: 100vw 100vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }

    nav {
        place-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        --gap: 0em;
        align-items: center;
        padding: 1.8em 0em 1em 1em;
        margin-bottom: 4.5em;
    }

    nav hr {
        position: relative;
        right: 60%;
        width: 170%;
        z-index: 1;
    }

    nav span {
        text-wrap: nowrap;
        --gap: 1em;
        align-items: center;
        padding: 1em 0em;
        padding-right: 7.2em;
        padding-bottom: 0%;
        padding-left: 5em;
        backdrop-filter: blur(10px);
        background-color: rgb(var(--clr-White), 0.2);
    }

    nav span>* {
        text-decoration: none;
        padding-bottom: 1em;
    }

    nav span>*:hover {
        border-bottom: 3.5px;
        border-bottom-style: solid;
        border-color: var(--clr-White);
        padding-bottom: 1em;
        filter: brightness(75%);
    }

    nav span>*.active {
        border-width: 3.5px;
        border-bottom-style: solid;
    }

    nav span>*.active:hover {
        border-width: 3.5px;
        border-bottom-style: solid;
        filter: brightness(100%);
    }

    nav span strong {
        margin-right: 0.1em;
    }

    .home {
        width: auto;
        --gap: 20%;
        grid-template-columns: 1fr 1fr;
        margin-left: 10%;
    }

    .home-text {
        width: max-content;
        text-align: left;
    }

    .home-text h1 {
        --custom-size: clamp(var(--fnt-15rem), 10.981vw, 20vw);
        margin: -15px 0px;
    }

    .home-text h5 {
        --custom-size: clamp(var(--fnt-28px), 2.05vw, 20vw);
    }

    .home-text p {
        width: 49ch;
        text-align: justify;
    }

    .home-button {
        --custom-size: clamp(var(--fnt-28px), 2.05vw, 20vw);
        position: relative;
        top: 40%;
        left: 23%;
        width: 7em;
        aspect-ratio: 1;
        border-radius: 50%;
        place-content: center;
        background-color: white;
        color: var(--clr-Dark-Blue);
        font-family: var(--h1-to-h4-and-sh1-font-family);
        text-decoration: none;
        isolation: isolate;
    }

    .home-button::after {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        border-radius: 50%;
        background-color: rgba(var(--clr-White), 0.2);
        opacity: 0;
        transition: opacity 700ms linear, transform 1s ease-in-out;
    }

    .home-button:hover::after,
    .home-button:focus::after {
        opacity: 1;
        transform: scale(2);
    }

}

@media (width <=400px) {
    #root {
        background-image: url("/assets/home/background-home-mobile.jpg");
        background-size: 100vw 100vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }
}